<div class="row">
  <div class="col-md-10">
    <app-novo-edita [objetoParaEdicao] = "estabelecimentoEdicao" [tipoPai] = "tipoPai"></app-novo-edita>
  </div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        Lista de Estabelecimentos
      </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                      <th scope="col">Nome</th>
                      <th scope="col">Endereço</th>                     
                      <th>Cadastro</th>
                      <th>Edição</th>
                      <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let estabelecimento of estabelecimentos">
                    <td >{{ estabelecimento.id }}</td>
                    <td >{{ estabelecimento.nome }}</td>
                    <td >{{ estabelecimento.endereco }}</td>
                    <td >{{ estabelecimento.dateCadastro | date: 'shortDate'}}</td>
                    <td >{{ estabelecimento.dateEdicao | date: 'shortDate' }}</td>
                    <td >
                        <button 
                          (click)="editarEstabelecimento(estabelecimento)" 
                          type="button" 
                          class="btn btn-primary mr-3"
                          title="Editar Estabelecimento">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button 
                          type="button" 
                          class="btn btn-danger"
                          data-toggle="modal" 
                          [attr.data-target]="'#' + estabelecimento.nome">
                          <i class="fa fa-times-circle"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade"  attr.id="{{estabelecimento.nome}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Excluir Item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Confirma exclusão de item da lista de Estabelecimentos?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" 
                                  data-dismiss="modal">Fechar</button>
                                <button
                                (click)="delete(estabelecimento.id)" 
                                  data-dismiss="modal"
                                  type="button" class="btn btn-primary">Confirmar</button>
                              </div>
                            </div>
                          </div>
                        </div>                        
                    </td>
                   
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    </div>
    
</div>